.usr
{
width: 40px;
border-radius:25px;
cursor: pointer;
margin-right:200px;
margin:0%;
}
.cart
{
width: 40px;
border-radius:25px;
cursor: pointer;
margin-right:200px;
margin: 0%;
}
.search
{
width: 40;
border-radius:25px;
cursor: pointer;
margin-right:200px;
margin:0%;
}
.ur ul{
    display: inline-block;
        position:relative;

}


.drop{
    list-style: none;
        padding:0px 20px 0px 20px;
        margin:15px 10px;
}
.drop li{
    display: inline-block;
        position:relative;
}
.drop li a{
    text-align: center;
    display:block;
    padding:0px;
    color:white;
    text-decoration: none;
   
    font-size: 5px;
}
.drop li ul.do li{
    display: block;
}
.drop li ul.do {
    width: 100%;
    background: #22438c;
     position:absolute;
     z-index: 999;
    display:none;
    
}
.drop li a:hover {
       
    background: #112c66;
}
.drop li:hover ul.do {
    display:block;
}
.drop li ul.do li{
    display: block;
}
.drop li ul.do {
    width: 100%;
    margin:0%;
    padding:25px 20px;
    background:transparent;
    
    position:absolute; 
    z-index: 999;
    display:none;

}
.drop li a:hover {
    background:blue;
}
.drop li:hover ul.do {
    display: block;
}
ul .do {
    width:100%;
    margin:10%;
    
    
}
ul .do li a{
    font-size: 15px !important;
}


ul{
    list-style: none;
    padding:0;
    margin:0px 0px;

        font-family:Calibri;
    }
    ul li{
        display: inline-block;
        position: relative;
    }
    ul li a{
        text-align:center;
        display:block;
        padding:20px 25px;
        color:white;
        text-decoration: none;
       
        font-size: 15px;
    }
    ul li ul.cate li{
        display: block;
    }
    ul li ul.cate {
        width: 100%;
    
        background:blue(219, 30, 68, 0.799);
         position:absolute;
        Z-index:999; 
        display:none;
        
    }
    ul li a:hover {
       
    background:blue;
    }
    ul li:hover ul.cate {
        display: block;
    }
    nav .shopping-cart{
        
        border: 0px solid;
        position: relative;
        top:100%;
        left:-100px;
        padding: 0.5rem;
    border-radius: .5rem;
    box-shadow: var(--box shadow);
    width:15rem;
    background: #fff;
    }
    nav .shopping-cart .box{
        border: 0px solid blue;
        display: flex;
        align-items: center;
        gap: 1rem;
       position: relative;
       margin:0.5rem 0;
    } 
    nav .shopping-cart .box img{
    height:2rem;
    }
    nav .shopping-cart .box .fa-trash{
font-size: 1rem;
position:absolute;
top:50%;
right:1rem;
cursor: pointer;
color:var(--light-color);
transform: translateY(-50%);
    }

nav .shopping-cart .box .fa-trash:hover{
    color:var(--green);
}
nav .shopping-cart .box .content h3{
color:black;
font-size: 1.2rem;
padding-bottom: 1rem;
}
nav .shopping-cart .box .content span{
    color:silver;
    font-size: 1rem;
}
nav .shopping-cart .box .content .quantity{
padding-left: 0.5rem;
}
nav .shopping-cart .total{
    font-size: 1.5rem;
    padding: 0.5rem 0;
    text-align: center;
    color:black;
}
nav .shopping-cart .btn{
    border: 2px solid black;
    margin-top: 1rem;
    display:inline-block;
    padding: .4rem 3rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    color:black;
    cursor: pointer;
    
}
nav .shopping-cart .btn:hover{
    background: green;
    color: #fff;
}
nav .shopping-cart .btn{
    display: block;
    text-align: center;
}
nav .search-form{
    border:1px solid;
    position: absolute;
    max-width: 50rem;
    height:4rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    
    box-shadow:var(--bax-shadow);
}
nav .search-form input{
    
    background: none;
    padding:0 1rem;
    text-transform: none;
    font-size:1rem;
color:black;
}






*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:sans-serif;
}
.contact{
    min-height: 100vh;
    background-color: #e8f0fe;
    padding:50px;
    text-align: center;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color:#333;
}
.contact_wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:30px;
}
.contact-form{
    text-align:left;
}
.contact-form h3{
    font-size: 24px;
    margin-bottom:20px;
    color:#333;
}
.from-group{
    margin-bottom: 20px;
}
section input,textarea{
    width: 100%;
    padding:12px;
    border-radius: 12px;
    border:none;
    background-color: aliceblue;
    color:black;
}
button{
    display: inline-block;
    padding: 12px 12px;
    background-color: green;
    color:#fff;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(82, 199, 82);
}
